/* checkbox - each time slot */
.time-slot {  }

/* hide the checkbox itself - the label will be styled */
.time-slot input {
    display:none;
}

.time-slot button {
    padding: 1px;
    color: white;
    border-radius:5px;
    transition:0.3s ease all;
}

.time-slot > button {
    padding:10px 20px;
}

.available {
    background:#6BB9F0;
    animation:flashAvailable 0.5s ease;
}

.pending {
    background:#9B59B6;
    animation:flashBooked 0.5s ease;
}

.booked {
    background:#1E824C;
    cursor:not-allowed;
    animation:flashBooked 0.5s ease;
}

/* if the label is checked */
.time-slot input:checked ~ label {
    background:#f2dede;
    cursor:not-allowed;
    animation:flashBooked 0.5s ease;
}

/* if the label is not checked */
.time-slot input:not(:checked) ~ label {
    background:#6AB074;
    animation:flashAvailable 0.5s ease;
}

/* animation for the time slot to flash red */
@keyframes flashBooked {
    0%, 100%  { background:#f2dede; transform:scale(1); }
    50%       { background:#F99090; transform:scale(1.5); }
}

/* animation for the time slot to flash green */
@keyframes flashAvailable {
    0%, 100%  { background:#6AB074; transform:scale(1); }
    50%       { background:rgb(119, 218, 78); transform:scale(1.5); }
}
